<!DOCTYPE HTML>
<html>
  <head>
    <title>Elements - Spatial by TEMPLATED</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <script src="js/jquery.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/skel-layers.min.js"></script>
    <script src="js/init.js"></script>
    <noscript>
      <link rel="stylesheet" href="css/skel.css" />
      <link rel="stylesheet" href="css/style.css" />
      <link rel="stylesheet" href="css/style-xlarge.css" />
    </noscript>
  </head>
  <body>


  <!-- Form -->
    <section>
      <h3>Form</h3>
      <form method="post" action="{% url 'results' %}">
        {% csrf_token %}
        <div class="row uniform 50%">
          <div class="6u 12u$(xsmall)">
            <label for="location">Zipcode: </label>
            <input type="number" name="location" id="location" value="{{ current_loc }}" placeholder="Zipcode" />
          </div>
          <div class="6u$ 12u$(xsmall)">
          </div>
          <div class="12u$">
            <label for="location">Zipcode: </label>
            <input type="number" name="location" id="location" value="{{ current_loc }}" placeholder="Zipcode" />
          </div>
          <div class="6u$ 12u$(xsmall)">
            <div class="select-wrapper">
              <label for="house_type1"> 1st preference: </label>
              <select name="house_type1">
                <option id="house_type1" name="house_type1" value="houses" selected>House</option>
                <option id="house_type1" name="house_type1" value="apartments">Apartment</option>
                <option id="house_type1" name="house_type1" value="condos/co-ops">Condo/Co-op</option>
              </select>
            </div>
          </div>
          <div class="6u$ 12u$(xsmall)">
            <div class="select-wrapper">
              <label for="house_type1"> 2nd preference: </label>
              <select name="house_type1">
                <option id="house_type1" name="house_type1" value="houses" selected>House</option>
                <option id="house_type1" name="house_type1" value="apartments">Apartment</option>
                <option id="house_type1" name="house_type1" value="condos/co-ops">Condo/Co-op</option>
              </select>
            </div>
          </div>
          <div class="6u$ 12u$(xsmall)">
            <div class="select-wrapper">
              <label for="house_type1"> 3rd preference: </label>
              <select name="house_type1">
                <option id="house_type1" name="house_type1" value="houses" selected>House</option>
                <option id="house_type1" name="house_type1" value="apartments">Apartment</option>
                <option id="house_type1" name="house_type1" value="condos/co-ops">Condo/Co-op</option>
              </select>
            </div>
          </div>
          <div class="6u$ 12u$(xsmall)">
            <div class="select-wrapper">
              <label for="listing_type3"> Are you buying or renting? </label>
              <select name="listing_type">
                <option id="listing_type" name="listing_type" value="sale"> Buying </option>
                <option id="listing_type" name="listing_type" value="rent"> Renting </option>
              </select>
            </div>
          </div>
          <div class="6u$ 12u$(xsmall)">
            <div class="select-wrapper">
              <label for="listing_type3"> Are you buying or renting? </label>
              <select name="listing_type">
                <option id="listing_type" name="listing_type" value="sale"> Buying </option>
                <option id="listing_type" name="listing_type" value="rent"> Renting </option>
              </select>
            </div>
          </div>
          <div class="6u 12u$(xsmall)">
            <div class="select-wrapper">
              <label for="distance">As a user, how do you define nearby?</label>
              <input id="distance" type="number" name="distance" value="{{ current_distance }}">
              <select name="distance_type">
                <option id="distance_type" name="distance_type" value="meters"> Meters </option>
                <option id="distance_type" name="distance_type" value="miles"> Miles </option>
              </select>
            </div>
          </div>
          <div class="9u 12u$(xsmall)">
          </div>
          <div class="6u 12u$(xsmall)">
            <div>
              <h4>Price (monthly):</h4>
              <label for="price_lower_limit"> Minimum</label>
              <input id="price_lower_limit" type="number" name="price_lower_limit" value="{{ current_price_lower_limit }}">
              <label for="price_upper_limit"> Maximum</label>
              <input id="price_upper_limit" type="number" name="price_upper_limit" value="{{ current_price_upper_limit }}">
            </div>
          </div>
          <div class="7u 12u$(xsmall)">
          </div>
          <div class="6u 12u$(xsmall)">
            <div>
              <h4>Number of bathrooms:</h4>
              <label for="min_bathroom"> Minimum</label>
              <input id="min_bathroom" type="number" name="min_bathroom" value="{{ current_min_bathroom }}">
              <label for="max_bathroom"> Maximum</label>
              <input id="max_bathroom" type="number" name="max_bathroom" value="{{ current_max_bathroom }}">
            </div>
          </div>
          <div class="7u 12u$(xsmall)">
          </div>
          <div class="6u 12u$(xsmall)">
            <div>
              <h4>Number of bedrooms:</h4>
              <label for "min_bedroom"> Minimum</label>
              <input id="min_bedroom" type="number" name="min_bedroom" value="{{ current_min_bedroom }}">
              <label for "max_bedroom"> Maximum</label>
              <input id="max_bedroom" type="number" name="max_bedroom" value="{{ current_max_bedroom }}">
            </div>
          </div>
          <div class = "12u$">
            <h4>Select how much you care about the following:</h4>
          </div>
          <div class = "12u$">
            <h4>Criterion 1:</h4>
          </div>
          <div class="2u 12u$(xsmall)">
            <input type="radio" id="Not at all" name="pref_{{ question.1 }}" value="0" checked>
            <label for="Not at all">Not at all</label>
          </div>
          <div class="2u 12u$(xsmall)">
            <input type="radio" id="A Little" name="pref_{{ question.1 }}" value="0.25">
            <label for="A Little">A Little</label>
          </div>
          <div class="2u 12u$(xsmall)">
            <input type="radio" id="Neutral" name="pref_{{ question.1 }}" value="0.5">
            <label for="Neutral">Neutral</label>
          </div>
          <div class="2u 12u$(xsmall)">
            <input type="radio" id="Important" name="pref_{{ question.1 }}" value="0.75">
            <label for="Important">Important</label>
          </div>
          <div class="2u 12u$(xsmall)">
            <input type="radio" id="Very Important" name="pref_{{ question.1 }}" value="1.0">
            <label for="Very Important">Very Important</label>
          </div>
        
          <div class = "12u$">
            <label for"date"> For crime data, select a starting date, in YYYY-MM-DD format (Warning, Dates earlier than 2015-01-01 will take a long time) </label>
            <input id="date" name="date", value="{{ current_date }}"><br>
            <input type="submit" value="Search">
          </div>  
        </form>
  </body>
</html>