<html>
<head>
    <!-- Sets the background image -->
    <style type = "text/css">
body {

    background-image: url("https://wallpaperscraft.com/image/surface_network_light_background_texture_50497_1920x1200.jpg");
    background-repeat: repeat-y;
}
</style>
</head>
<center><font size = "7" face="verdana">About Us</font></center>
<br><br><br><br><br><br>
<center><font size = "6" face="verdana">Pedro &emsp; Eric &emsp; Ryan</font></center>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<p>WE ARE UCHICAGO STUDENTS</p>
</html>