<html>
<head>
    <!-- Sets the background image -->
    <style type = "text/css">
body {

    background-image: url("https://wallpaperscraft.com/image/surface_network_light_background_texture_50497_1920x1200.jpg");
    background-repeat: repeat-y;
}
</style>

</head>
<!-- Adds a back button, from http://www.w3schools.com/jsref/met_his_back.asp-->
<button onclick="goBack()">Go Back to Home</button>


<script>
function goBack() {
    window.history.back();
}
</script>
<center><font size = "7" face="verdana">House Me</font></center>
<br><br>
<center><font size = "2" face="verdana"> By Pedro, Eric, Ryan</font></center>
<br><br><br>
<p>Our goals are:</p>

To make it easier to gather relevant information about available properties
<br>
To give suggestions on properties we find, based on user input
<br>
To visualize the relevant data

</html>